<div class="container mt-4 pb-4">
    <h1 class="text-center">Palmer Larson</h1>
    <h4 class="text-center">
        <div id="typed-strings">
            <p>Software Developer</p>
            <p>Web Developer</p>
            <p>IT Specialist</p>
            <p>Java Developer</p>
        </div>
        <span id="typed"></span>
    </h4>
    <div class="mt-4 row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img src="images/palmer.jpg" class="img-fluid rounded shadow-lg" alt="palmer with gsd">
            </div>
        </div>
        <div class="col-md-8 bg-transparent mt-4 mt-md-0">
            <p class="bio">I'm Web Software Development Student at Madison Area Technical College. I currently work as an IT Support Specialist at EatStreet Inc. and have a bachelor's degree in Criminology from the University of Wisconsin -
                Whitewater.
            </p>

            <p class="bio">Previously, I worked as a Deputy Sheriff at the Dane County Sheriff’s office in Madison, WI. After following the route of Law Enforcement through college and into the professional field I decided to follow my true
                interests leaving
                Law Enforcement and into IT. Though, this may seem like a strange career transition the valuable skills I have learned througout my time in the academy and in the field are many. I have learned many interpersonal and
                self-discipline skills, and most important problem solving skills. So far, throughout my schooling and IT career these learned skills from my past career have proven themselves invaluable and will continue to do so.</p>

            <div class="col p-4 pb-0 text-center">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1 shadow" style="background-color: #3b5998;" href="mailto:palmerlarson@protonmail.com" role="button"><i class="fas fa-envelope"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1 shadow" style="background-color: #55acee;" href="https://twitter.com/PalmerLarson4" target="_blank" role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1 shadow" style="background-color: #0082ca;" href="https://www.linkedin.com/in/palmer-larson-129336210/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1 shadow" style="background-color: #333333;" href="https://github.com/palmerlarson" target="_blank" role="button"><i class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
        </div>
    </div>
</div>