<div class="mt-4 pb-4">
    <h2 class="text-center"><u>Projects</u></h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/taskLister.png" alt="task lister api">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Task List API - Node/Express</h5>
                            <p class="">Class Project - Spring 2022 (Advanced JavaScript) API built for listing tasks, features include: GET, POST, PUT, and DELETE. Built to store into a JSON file for project reqs, Ideally dB would be used.
                                Usefull in learning Node/Express JS</p>
                            <a href="https://github.com/palmerlarson/taskList" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/wdev.png" alt="wealth and debt evaluator">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Wealth & Debt Evaluator - Java</h5>
                            <p class="">Class Project - Spring 2022 (Enterprise Java) Wdev receives user parameters to generate and display charts. This application was developed to practice the following: User Handling with AWS Cognito, CRUD,
                                JSPs/Servlets, Git version control, ORM Framework (Hibernate), implementing outsourced API.</p>
                            <a href="https://github.com/palmerlarson/IndieProject" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/weatherCatcher.png" alt="Weather Catcher">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Weather Catcher - JavaScript</h5>
                            <p class="">Class Project - Spring 2022 (Advanced JavaScript) Built to learn API implmentation with XML HttpRequest.</p>
                            <a href="https://github.com/palmerlarson/weatherCatcher" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/portfolios.png" alt="Portfolio websites">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Portfolio - HTML/CSS/BootStrap</h5>
                            <p class="">Personal Project - Spring 2022, Built to display skills and work to potential employers.</p>
                            <a href="https://github.com/palmerlarson/PortfolioSite" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/taxCalculator.png" alt="tax Calculator">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Tax Calculator - JavaScript</h5>
                            <p class="">Class Project - Spring 2022 (Advanced JavaScript) Built to learn ES6.</p>
                            <a href="https://github.com/palmerlarson/taxCalculator" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/powerBallSim.png" alt="powerball simulator">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">PowerBall Simulator - JavaScript</h5>
                            <p class="">Personal Project - Spring 2021 JavaScript project built for fun (not optimized).</p>
                            <a href="https://github.com/palmerlarson/powerball-simulator" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/bootStrapProject.png" alt="bootStrap Project">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">BootStrap Project - HTML/CSS/BootStrap</h5>
                            <p class="">Class Project - Fall 2021 (Advanced CSS) Final project for Advanced CSS built mainly in BootStrap</p>
                            <a href="https://github.com/palmerlarson/bootstrap-project" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="d-flex flex-container">
                        <div class="col-md-4">
                            <img class="img-crisp" src="images/teamProject.png" alt="teamProject">
                        </div>
                        <div class="col-md-8 content">
                            <h5 class="">Team API project - Java</h5>
                            <p class="">Class Project - Spring 2022 (Enterprise Java) Built to learn how to operate a team through asynchronous work.</p>
                            <a href="https://github.com/kodehomie/enterprise-java-team-project" class="link-unstyled">View</a>
                        </div>
                    </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>

    <div class="row text-center view-all-btn-wrapper">
        <a href="https://github.com/palmerlarson?tab=repositories" class="mt-4 mt-md-0 view-all-btn">View All</a>
    </div>
</div>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
    //   autoplay: {
    //     delay: 2500,
    //     disableOnInteraction: false,
    //   },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>