<div class="container my-4 pb-4">
    <div class="row justify-content-center">
        <h2 class="text-center mt-3"><u>Skills</u></h2>
        <div class="col-md-4 mt-2 skills">
            <ul class="list-group bg-transparent">
                <li class="list-group-item border-0 bg-transparent"><img src="images/javascript.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">JavaScript (ES6+)</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/html5.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">HTML5</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/nodejs.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">Node.JS/Express.JS</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/mysql.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">MySQL</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/aws.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">AWS Systems</span></li>
            </ul>
        </div>
        <div class="col-md-4 mt-2">
            <ul class="list-group bg-transparent">
                <li class="list-group-item border-0 bg-transparent"><img src="images/java.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">Java (Maven, Tomcat)</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/css3.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">CSS3 (BootStrap, TailWindCSS)</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/git.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">Git</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/php.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">PHP</span></li>
                <li class="list-group-item border-0 bg-transparent"><img src="images/agile.png" alt="javascript icon" class="icon-img"><span class="border-bottom pb-1">Agile Methodology</span></li>
            </ul>
        </div>
    </div>
</div>