<footer class="text-center mt-4">
    <div class="container p-4 pb-0">
        <div class="text-center p-3 border-top-dark footerTop">
            © 2022 Copyright:
            <a class="/" href="https://www.palmerlarson.com/">palmerlarson.com</a><br>
            <!-- <a class="small" href="legacy/Portfolio1/index.html">2020 Legacy Portfolio</a> -->
        </div>
    </div>
</footer>