<!doctype html>
<html lang="en">
	<%- include('../partials/common/head'); %>
<body>
	<%- include('../partials/common/header'); %>
	<div class="container mt-2">
		<h4 class="text-center">
			<div id="typed-strings">
				<p>No posts yet</p>
				<p>Sorry.</p>
			</div>
			<span id="typed"></span>
		</h4>
	</div>

	<div class="text-center mx-auto content-center mt-4">
		<iframe class="mx-auto shadow" width="560" height="315" src="https://www.youtube.com/embed/VJ0wXz47XT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		 allowfullscreen></iframe>
	</div>

	<footer class="fixed-bottom text-center mt-4">
		<div class="container p-4 pb-0">
			<div class="text-center p-3 border-top-dark footerTop">
				© 2022 Copyright:
				<a class="/" href="https://www.palmerlarson.com/">palmerlarson.com</a>
			</div>
		</div>

	</footer>
</body>

</html>
