<!doctype html>
<html lang="en">
	<%- include('../partials/common/head'); %>
<body>
	<%- include('../partials/common/header'); %>
<!-- API Key only works with palmerlarson.com -->
	<div class="text-center my-4">
		<iframe class="w-75" src="https://drive.google.com/file/d/1SJl8EoPE1u9RLVHb1jC718hh2OOKldoI/preview" height="1000" allow="autoplay"></iframe>
	</div>

	<p class="text-center"><a href="https://drive.google.com/file/d/1SJl8EoPE1u9RLVHb1jC718hh2OOKldoI/view?usp=sharing" target="_blank" class="link-unstyled">Not loading? <u class="text-primary">Click here</u></a></p>

	<footer class="text-center">
		<div class="container p-4 pb-0">
			<div class="text-center p-3 border-top-dark footerTop">
				© 2022 Copyright:
				<a class="/" href="https://www.palmerlarson.com/">palmerlarson.com</a>
			</div>
		</div>

	</footer>
</body>

</html>
